{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Продукты</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Овоще- и фруктобаза</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'main:create_product' %}">Создать</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'main:read' %}">Основная</a>
        {% if user.is_authenticated %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a>

            <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Зарегистрироваться</a>

        {% endif %}
    </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Наши продукты</h1>
</div>

<div class="container">
    <div class="row">

        {% block content %}
        {% endblock %}

        <footer class="pt-lg-1 my-xl-0-3 pt-xl-3 border-top">


            <div class="col-lg-5 col-xl-12">

                Продукты
                <small class="d-block mb-lg-auto text-muted">&copy; {% now 'Y' %}</small>
            </div>

            <div class="col-6 col-lg">
                <div class="row"></div>
                <div class="col-5"></div>

                <h2></h2>


                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'main:read' %}">Основная</a></li>

                </ul>
            </div>
        </footer>
    </div>
</div>

<script src={% static 'js/bootstrap.bundle.min.js' %}></script>
</body>
</html>